.chatpanelnavbar--wrapper {
    height: 50px;
    background: #457b9d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.chatpanelnavbar--icons {
    display: flex;
    gap: 10px;
}

.chatpanelnavbar--icons svg {
    cursor: pointer;
}